.homepage {
    background-color: #682b32;
    position: fixed;
    width: 100%;

    div {
        margin: 1rem;
        padding: 1rem;
    }

    a {
        color: #682b32;
        text-decoration: none;
        padding: 1rem;
    }

    .links {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #f6e8c9;
        border-radius: 3px;
        border: 1px solid #cc4f52;
    }
}

