.header {

    background-color: #682b32;
    color: #f6e8c9;
    border-width: thin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;

    @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        border-bottom: 0.05rem solid #f6e8c9;
        a {
            margin: 0rem;

            h1 {
                margin: 0rem;
            }
        }

        p {
            margin: 0rem;
        }
    }
    
    
    a {
        h1 {
            padding: 0.25rem;
            color: #f6e8c9;
            border-radius: 4px;
            width: 100%;
            display: flex;
            justify-content: center;

        }
        text-decoration: none;   
    }
}
