.footer {
    background-color: #682b32;
    border-bottom: solid #f6e8c9;
    border-width: thin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    flex-direction: column;
    position:relative;
    color: #f6e8c9;
    width: 100%;

    
    h1 {
        padding: 0.1rem;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0rem;
        font-size: x-small;
    }
}