.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: purple;
    color: white;
    align-items: center;
    
    h1 {
        padding: 0.1rem;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0rem;
        font-size: x-small;
    }
}