.subject-list {
    margin: 1rem;
    color: lightpink;
    a {
        text-decoration: none;
        color: lightpink;
    }
    .subjects {
        .individual-subject {
            border: 1px solid lightpink;
            margin: 0.5rem;
        }
    }

    h1 {
        margin: 0rem;
    }
}